.header{
    background-color:rgb(48, 41, 41); 
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding-block: 30px;
    padding-inline: 20px;
   color: aliceblue;
    
    }
